* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
        background-color: #13995f;
}

#dimmer
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(36, 80, 239, 0.5);
}

.barba-once {
  opacity: 0;
}

.barba-once-active {
  transition: opacity 1s ease;

}

.barba-once-to {
  opacity: 1;

}